.header {
  background-image: url("../Img/landing.jpg");
  height: 600px;
  width: 100%

}

#heading {
  color: white;
  font-family: "Pontano Sans", sans-serif;
  text-align: center;
  margin:
}

.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 40px;
  height: 3px;
  background-color: #ffffff;
  margin: 6px;

}

.image {
    float: right;
  }

.image ul li {
    float : left;
    list-style: none;
  }

.happy-hour {
    background-color: #eaeae1;
    height: 105px;
}

.happy-hour p {
  text-align: center;
  color: black;
  font-family: "Pontano Sans", sans-serif;
  font-size: 26px;
}

.party-time {
  background-color: #F15A29;
  height: 105px;
}

.party-time p {
  text-align: center;
  color: white;
  font-family: "Pontano Sans", sans-serif;
  font-size: 26px
}
